@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');


body, html{
	background: black;
	display: grid;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	text-align: center;
}

#main-container{
	height: auto;
}

#text-panel{
	position: absolute;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	height: 1000px;
	z-index: 1;
}

#title-text p{
	width: 60%;
}

#main-title{
	font-size: 3vw;
	margin-top: 44%;
}

#denial-text-one{
	font-size: 2vw;
	margin-top: 63%;
}

#denial-text-two{
	font-size: 1.5vw;
	margin-top: -5%;
}

#anger-text-one{
	color: whitesmoke;
	font-size: 2vw;
	margin-top: 430%;
}

#anger-text-two{
	color: whitesmoke;
	font-size: 1.5vw;
	margin-top: -5%;
}

#bargaining-text-one{
	font-size: 2vw;
	margin-top: 595%;
}

#bargaining-text-two{
	font-size: 1.5vw;
	margin-top: -5%;
}

#depression-text-one{
	font-size: 2vw;
	margin-top: 395%;
}

#depression-text-two{
	font-size: 1.5vw;
	margin-top: -5%;
}

#acceptance-text-one{
	color: whitesmoke;
	font-size: 2vw;
	margin-top: 479%;
}

#acceptance-text-two{
	color: whitesmoke;
	font-size: 1.5vw;
	margin-top: -1%;
}

#panel{
	background: white;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	display: grid;
    grid-template-rows: 0.75% 0.7% 0.8% 1.5% 2.2% .35% 0.82% 2.68% 1% 0% 3.79% 3.24% 0.5% 2.3% 0.97% 0.65% 0.4% 0.2% 0.45% 0.7% 1.13% 0.6% 2.1% 0.75% 2.5% 1.6% 3.5% 5.284% 3% 0.22% 2.3% 1fr;
}

#panel img{
	position: relative;
	width: 100%;
}

#img-one{
	grid-row-start: 1;
}

#img-two{
	mix-blend-mode: multiply;
	grid-row-start: 2;
}

#img-three{
	mix-blend-mode: multiply;
	grid-row-start: 3;
}

#img-four{
	mix-blend-mode: multiply;
	grid-row-start: 4;
}

#img-five{
	mix-blend-mode: multiply;
	grid-row-start: 5;
}

#img-six{
	grid-row-start: 6;
}

#img-seven{
	grid-row-start: 7;
}

#img-eight{
	mix-blend-mode: multiply;
	grid-row-start: 8;
}

#img-nine{
	mix-blend-mode: multiply;
	grid-row-start: 9;
}

#img-ten{
	mix-blend-mode: multiply;
	grid-row-start: 10;
}

#img-eleven{
	mix-blend-mode: multiply;
	grid-row-start: 11;
}

#img-twelve{
	mix-blend-mode: multiply;
	grid-row-start: 12;
}

#img-thirteen{
	mix-blend-mode: multiply;
	grid-row-start: 13;
}

#img-fourteen{
	mix-blend-mode: multiply;
	grid-row-start: 14;
}

#img-fifteen{
	grid-row-start: 17;
}

#img-sixteen{
	mix-blend-mode: multiply;
	grid-row-start: 16;
}

#img-seventeen{
	mix-blend-mode: soft-light;
	grid-row-start: 15;
}

#img-eighteen{
	grid-row-start: 18;
}

#img-nineteen{
	grid-row-start: 21;
}

#img-twenty{
	mix-blend-mode: multiply;
	grid-row-start: 22;
}

#img-twenty-one{
	mix-blend-mode: multiply;
	grid-row-start: 20;
}

#img-twenty-two{
	mix-blend-mode: soft-light;
	grid-row-start: 19;
}

#img-twenty-three{
	mix-blend-mode: multiply;
	grid-row-start: 23;
}

#img-twenty-four{
	grid-row-start: 24;
}

#img-twenty-five{
	grid-row-start: 25;
}

#img-twenty-six{
	grid-row-start: 26;
}

#img-twenty-seven{
	grid-row-start: 27;
}

#img-twenty-eight{
	grid-row-start: 28;
}

#img-twenty-nine{
	grid-row-start: 29;
}

#img-thirty{
	grid-row-start: 30;
}

#img-thirty-one{
	mix-blend-mode: multiply;
	grid-row-start: 31;
}

#black-filler{
	grid-row-start: 32;
	background: black;
	margin: 0px;
}

#cutscene-video{
	aspect-ratio: 16 / 9;
	width: 100%;
	margin: 0px;
	padding: 0px;
}